// footer
.footerSubscribe{
    background: url("../image/photo6.png") no-repeat;
    background-position: center;
    background-size: cover;
    height: 600px;
    .row{
        height: 600px;
    }
}