// header
.logo{
    width: 130px;
    background: no-repeat center url("https://i.ibb.co/L8H7gzJ/d-Perfume.png");
    display: block;
    text-indent: 101%;
    white-space: nowrap;
    overflow: hidden;
}

.smCart{
    p{
        width: 16px;
        height: 13px;
        font-size: 12px;
        top: -10%;
        left: 60%;
        border-radius: 7px;
    }
}