.banner{
    background: url("../image/banner.png") no-repeat;
    background-position: center;
    background-size: cover;
    height: 870px;
    .row{
        height: 870px;
    }
    p{
        font-size: 24px;
    }
    button{
        border: 2px solid white;
        border-radius: 30px;
        font-size: 24px;
        padding: 15px 110px;
    }
}
.text{
    font-size: 20px;
}
.btn-style{
    font-size: 20px;
    padding: 18px 52px;
    border: 2px solid black;
    border-radius: 30px;
}
.sold-out{
    img{
        position: relative;
        background-image: url("../image/photo4-3-1.png");
    }
    p{
        position: absolute;
        top: 42%;
        left: 38%;
    }
}